*{
 margin: 0;
 padding: 0;
}

#navigation {
    float: left;
    vertical-align: middle;
    margin-left: 30px;
}

.nav_button {
    background-image:url('../img/nav.png');
    background-repeat:no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.nav_button {
    cursor: pointer;
}

#next:hover {
    background-position: -20px -20px;
}
#next {
    background-position: 0px -20px;
}

#prev:hover {
    background-position: -20px 0;
}

#prev {
    background-position: 0px 0px;
}

.state {
    text-align: center;
}
#intro {
//    margin: 20px 40px 20px 20px;
    text-align: right;
}

#intro p {
    text-indent: 20px;
    text-align: justify;
}

#intro a {
    text-decoration: none;
    font-size: 9pt;
    color: #666;
    margin-right: 20px;
}


#canvas {
    text-align: center;
    height: 300px;
    margin-top: 25px;
}

#input {
    width: 380px;
    margin-top: 20px;
    float: right;
    background: lightyellow;
    margin-bottom: 20px;
}

.check_button {
        background-image:url('../img/inspect.png');
        background-repeat:no-repeat;
        background-position: 0px 0px;
        width: 100px;
        height: 28px;
        margin-left:140px;
        cursor: pointer;
}

.check_button:hover {
    background-position: 0px -28px;
}

#restart {
    clear: both;
    height: 30px;
    width: 50%;
    text-align: center;
}
.restart_button {
    background-image:url('../img/restart.png');
    background-repeat:no-repeat;
    background-position: 0px 0px;
    width: 132px;
    height: 27px;
    position: relative;
    float: right;
}

.restart_button:hover {
    background-position: 0px -27px;
    cursor: pointer;
}

#pin_button {
    position: relative;
    background-image:url('../img/pin2.png');
    background-repeat:no-repeat;
    background-position: 0px 0px;
    width: 132px;
    height: 27px;
    float: left;
}

#pin_button:hover {
    background-position: 0px -26px;

}

#output {
    margin-bottom: 20px;
    width: 380px;
    float: left;
}


#footer {
   padding-top: 20px;
   clear: both;
   text-align: right;
   font-size: 10pt;
   padding-bottom: 5px;
   margin-right: 20px;
}

#output p {
    //width: 80%;
    //margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


code {
    text-align: left;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 10pt;
    outline: none;
    background: lightyellow;
}

#step2 {
display: none;
}

#step3 {
display : none;
}

#scenario li {
    text-align: left;
    margin-left: 80px;
}

#available_constraints {
    font-size: 10pt;
    text-align: justify;
    font-style: italic;
}

#syntax_error {
    text-align: left;
    margin-left: 20px;
}

#pinURL {
    border: solid #aaa 1px;
    background-color: white;
    color: #666;
    padding: 0px 5px 0px 5px;
}

#pinBox {
    text-align: center;
}

#pinBox p {
    text-indent: 0px;
    margin: 10px;
}