*{
 margin: 0;
 padding: 0;
}

.state {
    text-align: center;
}
#intro {
    text-align: right;
}

#intro p {
    text-indent: 20px;
    text-align: justify;
}

#intro a {
    text-decoration: none;
    font-size: 9pt;
    color: #666;
    margin-right: 20px;
}

#canvas {
    text-align: center;
    //height: 300px;
    margin-top: 25px;
}

#input {
    width: 380px;
    margin-top: 20px;
    float: left;
    //background: lightyellow;
    margin-bottom: 20px;
}

.check_button {
        background-image:url('../img/inspect.png');
        background-repeat:no-repeat;
        background-position: 0px 0px;
        width: 100px;
        height: 28px;
        margin-left:140px;
        cursor: pointer;
}

.check_button:hover {
    background-position: 0px -28px;
}

#restart {
    clear: both;
    height: 30px;
    width: 50%;
    text-align: center;
}
.restart_button {
    background-image:url('../img/restart.png');
    background-repeat:no-repeat;
    background-position: 0px 0px;
    width: 132px;
    height: 27px;
    position: relative;
    float: right;
}

.restart_button:hover {
    background-position: 0px -27px;
    cursor: pointer;
}

#output {
    margin-bottom: 20px;
    width: 380px;
    float: right;
}

#footer {
   padding-top: 20px;
   clear: both;
   text-align: right;
   font-size: 10pt;
   padding-bottom: 5px;
   margin-right: 20px;
}

#output p {
    //width: 80%;
    //margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

code {
    text-align: left;
}

#scenario li {
    text-align: left;
    margin-left: 80px;
}

#available_constraints {
    font-size: 10pt;
    text-align: justify;
    font-style: italic;
    clear: both;
}

#syntax_error {
    text-align: left;
    margin-left: 20px;
}

#pinURL {
    border: solid #aaa 1px;
    background-color: white;
    color: #666;
    padding: 0px 5px 0px 5px;
}

#pinBox {
    text-align: center;
}

#pinBox p {
    text-indent: 0px;
    margin: 10px;
}

/**
* Player part
**/
#player {
    margin-left: 100px;
}

.player_button {
    width: 20px;
    height: 20px;
    background-image: url('../img/player.png');
    float: left;
    margin-left: 5px;
    margin-top: 20px;
}

.player_button:hover {
    cursor: pointer;
    background-position-y: -20px;
}

#prev_button {
    background-position-x: -20px;
}

#play_button {
    background-position-x: -60px;
}

#next_button {
    background-position-x: -80px;
}

#end_button {
    background-position-x: -100px;
}

#pin_button {
    background-position-x: -120px;
    visibility: visible;
}

.jqmWindow .logo {
    width: 48px;
    float: left;
    margin: 10px;
    text-align: center;
}

.player_button .tt {
    display: none;
    padding: 2px 3px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 10pt;
}

.player_button:hover .tt {
    display: inline;
    position: absolute;
    background: #ffffff;
    border: solid #cccccc 1px;
    color: #6c6c6c;
}
