.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    display: inline-block;
    border: solid 1px #999;
    border-radius: 4px 4px 0 0;
    border-collapse: collapse;
}
.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
}
.tab a:hover {
    text-decoration: underline;
}
.tab.active {
    padding-top: 6px;
    position: relative;
    top: 1px;
    zoom: 1;
    border-color: #666;
    border-bottom: none;
    bottom: -1px;

}
.panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
    width: 380px;


}
.tab-container {
    float: left;
}